body {
    background-color: #374151
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px;
    border-color: white;
  }

/* Solid border */
hr.solid {
    border-top: 4px solid #272e3a;
    border-bottom: 4px solid #272e3a;
  }