body {
    background-color: #374151
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px;
    padding-left: 50px;
    border-color: white;
  }