body {
    background-color: #374151
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px;
    border-color: white;
  }

/* Solid border */
hr.solid {
    border-top: 2px solid #2f3641;
    border-bottom: 2px solid #2f3641;
    border-left: 1px solid #2f3641;
    border-right: 1px solid #2f3641;
    box-shadow: 0px 2px 2px 0 #2f3641, 
    0 4px 0px 0px #374151;
  }